# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

Сохраним данные с пустотами для анализа в конце проекта:

In [5]:
data_with_nulls = data[(data['days_employed'].isna()) | (data['total_income'].isna())]

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [6]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [7]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [8]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [9]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [10]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [11]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [12]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [13]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [14]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [15]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [16]:
data.duplicated().sum()

71

In [17]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [18]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [19]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [20]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [21]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [22]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

In [23]:
def get_debt_probability(row):
    return round(row['sum'] / row['count'], 4) * 100
    
base_probability = round(data['debt'].sum() / data['debt'].count(), 4) * 100
print(f'Базовая вероятность задержки кредита: {base_probability}%')

Базовая вероятность задержки кредита: 8.12%

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

Для начала, следует решить: можно ли категоризировать данные по количеству детей.

In [24]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

Значений мало - они и так могут использоваться в качестве категорий.
Теперь можно вычислить вероятность погашения кредита для каждой из этих шести категорий (количество непогашенных кредитов для данного количества детей / общее количество кредитов для данного количества детей).

In [25]:
pivot_by_children_count = data.pivot_table(index=['children'], values=['debt'], aggfunc=['sum', 'count'])
pivot_by_children_count['debt_probability'] = get_debt_probability(pivot_by_children_count)
pivot_by_children_count

           sum  count debt_probability
          debt   debt
children
0         1063  14091             7.54
1          444   4808             9.23
2          194   2052             9.45
3           27    330             8.18
4            4     41             9.76
5            0      9             0.00

Зависимость от количества детей неравномерна (для 1,2,4 ребенка вероятность возвращения кредита на 1,5% ниже, чем для 3 детей и на 10% ниже, чем для 5 детей). Скорее всего, сказывается недостаточность данных.

Но точно можно сделать два вывода: 
* Бездетные лучше оплачивают кредит (шанс на оплату выше на 0.5-2%).
* Не похоже, что количество детей серьезно влияет на погашение кредита. Однако, сам факт их наличия оказывает негативный эффект на погашение. Исключение для семей с пятью детьми (но таких данных слишком мало - можно сказать, что тут выборка не репрезентативна).

Получилось, что на кредит влияет наличие детей, а не их количество. Для точности категоризируем данные  на семьи с детьми и без.

In [26]:
data['has_children'] = data['children'] > 0
pivot_by_children = data.pivot_table(index=['has_children'], values=['debt'], aggfunc=['sum', 'count'])
pivot_by_children['debt_probability'] = get_debt_probability(pivot_by_children)
pivot_by_children

               sum  count debt_probability
              debt   debt
has_children
False         1063  14091             7.54
True           669   7240             9.24

**Вывод:**
На возврат кредита в срок влияет наличие детей, но не влияет их количество. Бездетные клиенты возвращают кредит в срок на 1.8% чаще

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [27]:
data['family_status'].unique()

array(['женат / замужем', 'гражданский брак', 'вдовец / вдова',
       'в разводе', 'Не женат / не замужем'], dtype=object)

In [28]:
pivot_by_famity_status = data.pivot_table(index=['family_status'], values=['debt'], aggfunc=['sum', 'count'])
pivot_by_famity_status['debt_probability'] = get_debt_probability(pivot_by_famity_status)
display(pivot_by_famity_status)

                       sum  count debt_probability
                      debt   debt
family_status
Не женат / не замужем  273   2796             9.76
в разводе               84   1189             7.06
вдовец / вдова          63    951             6.62
гражданский брак       385   4134             9.31
женат / замужем        927  12261             7.56

**Вывод:** 

* Люди, состоявшие/состоящие в официальных браках, выплачивают кредиты на 2-3% лучше, чем избегающие брака.
* Люди, состоявшие ранее в браках выплачивают кредиты на 0.5-1% лучше, чем люди состоящие в браке на момент получения кредита.

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [29]:
pivot_by_income = data.pivot_table(index=['total_income_category'], values=['debt'], aggfunc=['sum', 'count'])
pivot_by_income['debt_probability'] = get_debt_probability(pivot_by_income)
pivot_by_income

                        sum  count debt_probability
                       debt   debt
total_income_category
A                         2     25             8.00
B                       354   5014             7.06
C                      1353  15921             8.50
D                        21    349             6.02
E                         2     22             9.09

Зависимость от доходов заметна. Но при выбранной категоризации она кажется неравномерной из-за малых данных по крайним категориям. Так, по данным выходит, что человек с доходом от миллиона выплачивает кредит на 2% лучше, чем человек с доходом до 30000, но на 2% хуже, чем человек с доходом 30000-50000. Возможно, стоит выбрать другие категории. Например, разбить данные по медиане:

In [30]:
median_income = data['total_income'].median()
lower_median_income = data[data['total_income'] < median_income]['total_income'].median()
higher_median_income = data[data['total_income'] >= median_income]['total_income'].median()
print('Медианы доходов:', lower_median_income, median_income, higher_median_income)
lower_median_income = int(lower_median_income / 10000) * 10000
median_income = int(median_income / 10000) * 10000
higher_median_income = int(higher_median_income / 10000) * 10000
print('Округленные медианы доходов:', lower_median_income, median_income, higher_median_income)
print()

def categorize_income_by_median(income):
    if income < lower_median_income: return f'0-{lower_median_income}'
    elif income < median_income: return f'{lower_median_income}-{median_income}'
    elif income < higher_median_income: return f'{median_income}-{higher_median_income}'
    else: return f'{higher_median_income}+'

data['income_by_median'] = data['total_income'].apply(categorize_income_by_median)
pivot_by_median_income = data.pivot_table(index=['income_by_median'], values=['debt'], aggfunc=['sum', 'count'])
pivot_by_median_income['debt_probability'] = get_debt_probability(pivot_by_median_income)
display(pivot_by_median_income)

Медианы доходов: 103423.0 142594.0 188755.5
Округленные медианы доходов: 100000 140000 180000

                  sum count debt_probability
                 debt  debt
income_by_median
0-100000          354  4444             7.97
100000-140000     424  4992             8.49
140000-180000     478  5506             8.68
180000+           476  6389             7.45

Теперь распределение вероятности задержки выплаты кажется более равномерным.

**Вывод:** 

Доход влияет на вероятность выплаты кредита. Лучше всего кредиты выплачивают люди с доходом от 180000 (на 0,5-1,2%), хуже всего - люди с доходом 100000 - 140000. Интересно, что люди с доходом до 100000 тоже относительно хорошо выплачивают кредит (возможно, они и берут кредиты на меньшие суммы).

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [31]:
pivot_by_purpose = data.pivot_table(index=['purpose_category'], values=['debt'], aggfunc=['sum', 'count'])
pivot_by_purpose['debt_probability'] = get_debt_probability(pivot_by_purpose)
pivot_by_purpose

                          sum  count debt_probability
                         debt   debt
purpose_category
операции с автомобилем    400   4279             9.35
операции с недвижимостью  780  10751             7.26
получение образования     369   3988             9.25
проведение свадьбы        183   2313             7.91

**Вывод:** 

Возврат кредита в срок напрямую зависит от его цели. 

Лучше всего возвращается кредит на недвижимость. Хуже всего - кредит на автомобиль.

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

Для начала следует провести поиск закономерностей: принадлежат ли пропуски одним строкам?

In [32]:
print('Всего строк с пропусками:', data_with_nulls['debt'].count())
data_with_nulls[['days_employed','total_income']].isna().sum()

Всего строк с пропусками: 2174

days_employed    2174
total_income     2174
dtype: int64

Так и есть. Похоже, что колонки связаны. Вообще, эти два значения - данные о доходах, которые берутся из справки 2-НДФЛ, получаемых от работадателя. Возможна пара причин, по которым эта справка не была предоставлена:
- человек еще не работал или уже не работает (сейчас такую справку можно запросить и через ЛК ФНС. Раньше требовалось идти к прошлому работадателю).
- человек берет микрокредит, который, в теории, могут выдавать и без этих данных.

Вероятность микрокредита и не работавшего человека можно попробовать выяснить, если посмотреть на остальные данные в строках с пропусками:

In [33]:
ignoredColumns = ['total_income', 'days_employed', 'family_status_id', 'family_status_id', 'income_type', 'debt']
for column in data_with_nulls.columns:    
    if column not in ignoredColumns:
        print(column, data_with_nulls[column].unique())

children [ 0  1  2 -1  3  4 20  5]
dob_years [65 41 63 50 54 21 52 32 35 34 44 47 46 29 27 39 62 55 26 30 31 23 58 60
 40 66 33 56 69 59 57 45 53 48 51 37 43 24 28 67 64 25 49 42 61 36 70 38
 20  0 68 19 22 71 72 73]
education ['среднее' 'высшее' 'СРЕДНЕЕ' 'неоконченное высшее' 'Среднее'
 'Неоконченное высшее' 'Высшее' 'НЕОКОНЧЕННОЕ ВЫСШЕЕ' 'начальное' 'ВЫСШЕЕ'
 'Начальное' 'НАЧАЛЬНОЕ']
education_id [1 0 2 3]
family_status ['гражданский брак' 'женат / замужем' 'Не женат / не замужем'
 'вдовец / вдова' 'в разводе']
gender ['M' 'F']
purpose ['сыграть свадьбу' 'образование' 'строительство жилой недвижимости'
 'сделка с подержанным автомобилем'
 'операции с коммерческой недвижимостью' 'покупка жилья для семьи' 'жилье'
 'операции с жильем' 'на проведение свадьбы' 'покупка жилой недвижимости'
 'профильное образование' 'высшее образование' 'автомобиль' 'свадьба'
 'строительство недвижимости' 'свой автомобиль'
 'на покупку подержанного автомобиля'
 'строительство собственной недвижимости' 'покупка своего жилья'
 'заняться высшим образованием' 'недвижимость'
 'операции со своей недвижимостью' 'покупка жилья для сдачи'
 'сделка с автомобилем' 'приобретение автомобиля'
 'получение высшего образования' 'дополнительное образование'
 'на покупку автомобиля' 'покупка недвижимости' 'автомобили'
 'покупка коммерческой недвижимости' 'покупка жилья'
 'получение образования' 'операции с недвижимостью' 'ремонт жилью'
 'на покупку своего автомобиля' 'заняться образованием'
 'получение дополнительного образования']

Строки с пропусками содержат полный набор данных - сузить набор причин пропусков не получится.

*Ответ:* 

Судя по анализу, таких причин может быть несколько:
- человек еще не работал или уже не работает и не может предоставить 2-НДФЛ.
- человек берет микрокредит.
- ошибка в ПО (например, в UI нет защиты от пустых данных).

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* 
Медианные значения сгладят график вычислений. Это, конечно, скажется на объективности результатов, но, зато, не приведет к всплескам на графиках (как было бы при использовании нулей, минимумов, максимумов или, даже, средних значений).

In [43]:
pivot_total = pd.DataFrame(columns=['category', 'debt_probability', 'relative_debt_probability'])

def fill_from(source):
    idx_name = source.index.name
    new_row_idx = len(pivot_total.index)
    for idx in source['debt_probability'].index:
        debt_probability = source['debt_probability'][idx]
        pivot_total.loc[new_row_idx] = [f'{idx_name}: {idx}', debt_probability, debt_probability - base_probability]
        new_row_idx += 1
        
fill_from(pivot_by_children) 
fill_from(pivot_by_famity_status) 
fill_from(pivot_by_median_income) 
fill_from(pivot_by_purpose)

result_format = { "debt_probability": "{:.2f}%", "relative_debt_probability": "{:.2f}%" }

### Шаг 4: общий вывод.

В целом, гипотезы подтвердились: на вероятностность выплаты кредита влияют семейное положение, цель кредита, уровень доходов и, в каком то смысле, количество детей (но не количество как таковое, а сам факт наличия детей). 

Люди, ставящие перед собой долгосрочные цели (склонные к вступлению в брак или купить недвижимость), на 1.5-2% лучше выплачивают кредит.
Однако, дети осложняют выплату кредита на те же 1.5-2%. Само собой, высокий доход на возврат кредита сказывается положительно.

**Проблемы с исходными данными:**

Перед анализом потребовалось провести большую работу по предобработке. Стоит обратить внимание на возникшие проблемы:
- *days_employed* и *children*: присутствовали отрицательные и аномально большие значения. В системе для этих полей не хватает контроля вводимых данных.
- *purpose* и *education*: множество категорий, потребовавших объединения и приведения к единому виду. Для этих полей стоит ввести справочники с ограниченным набором значений.
- множество парных пропусков значений в колонках *days_employed* + *total_income*. По приведенным данным объяснить эти пропуски не возможно. В системе следует в той или иной форме хранить причины, по которым не заполняются эти поля.

**Скоринг:**

Для скоринга можно использовать данные из следующей таблицы. В ней приведены исследованные факторы, оказывающие наибольшее влияние на задержку кредита. В колонке **relative_debt_probability** представлено отклонение от средней задержки кредита, вносимое конкретным фактором (чем меньше - тем лучше).

Так, например, люди, потерявшие супругов, задерживают выплаты на 1,5% реже, чем средний заемщик. А люди, не состоявшие в браке, наоборот - задерживают чаще на 1,64%, чем средний заемщик.

In [48]:
filter = abs(pivot_total['relative_debt_probability']) > 0.5
print(f'Средняя вероятность задержки кредита: {base_probability}%')
pivot_total[filter].sort_values('relative_debt_probability').style.hide_index().format(result_format)

Средняя вероятность задержки кредита: 8.12%